
/** Override boostrap styles */

.row{
    
    width: 1024px;
    margin: 0 auto;

}

.row2{
    
    width: 480px;
    margin: 0 auto;
}

.ABANDONO{
	background-color: #ffcc66;
}

.REUBICA{
	background-color: #ffff99;
}

.ERROR{
	background-color: #ff6666;
}

.alumno{
	padding: 15px;
	text-align: left;
}

.datofilac{
	text-align: center;
}

.nombrecolumna{
	text-align: left;
}

.nombrecolumnac{
	text-align: center;
}

.datofilal{
	text-align: left;
}

.bandera{
	text-align: center;
	vertical-align: middle;
}

.imgWrap {
  position: relative;
  height: 60px;
  width: 110px;
  vertical-align: middle;
  text-align: center;
}

.imgDescription {
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(250, 250, 250, 0.72);
  color: #101010;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

ul { 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

table#t01 {
  width: 100%;
  margin: auto;
  text-align: center;
}